.mapDiv {
  position: absolute;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  z-index: 0;
  .mapContainer {
    position: fixed;
    height: 100%;
    width: 100%;
  }
}
