.mapContainer {
  height: 80vh;
  width: 80vw;
  margin: auto auto;
}

.sidebar {
  background-color: rgba(35, 55, 75, 0.9);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  margin: 12px;
  border-radius: 4px;
  width: min-content;
  white-space: nowrap;
}
